<?xml version="1.0" encoding="UTF-8"?>
<!-- scan="true" enables run time log configuration  -->
<configuration scan="true">
	<!-- use Spring defaults -->
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<!-- log when settings changed -->
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />    
	<property scope="context" resource="sol-awesome-common.properties" />

	<springProfile name="default,local,dev,stage,prod,prods,prodp">
		<logger name="com.sol" level="${logging.level:-INFO}"
			additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<logger name="org.hibernate" level="WARN"
			additivity="false">
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>

	<springProfile name="local,dev build, default">
		<logger name="com.sol" level="${logging.level:-INFO}"
			additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>	
	
</configuration>
